<section>
    <form #signUpForm="ngForm"
        fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"         
        (ngSubmit)="submitSignUpForm(signUpForm)">
        <mat-form-field>
            <input type="email" #emailID="ngModel" name="email" placeholder="Your Email" 
                matInput ngModel
                required email>
            <mat-error *ngIf="!emailID.hasError('required')">Invalid Email ID</mat-error>
            <mat-error *ngIf="emailID.hasError('required')">Email is required</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input type="text" #userId="ngModel" name="userId" placeholder="Your User ID" 
                matInput ngModel required>
            <mat-error *ngIf="userId.hasError('required')">User ID is required</mat-error>
        </mat-form-field> 
        
        <mat-form-field>
            <input type="password" #pwd="ngModel" name="password" placeholder="Your Password" 
                ngModel matInput 
                required minlength="6">
            <mat-hint>Should be 6 char length</mat-hint>
            <mat-error *ngIf="pwd.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="pwd.hasError('minlength')">Password should be 6 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Your DOB</mat-label>
            <input name="dob" [matDatepicker]="picker"
                ngModel matInput [max]="maxAge" [min]="minAge">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox name="agreement" ngModel required color="primary">Agree to Terms and Conditions</mat-checkbox>

        <button mat-raised-button color="primary"
            [disabled]="signUpForm.invalid">Sign Up</button>
    </form>
</section>