<p>material works!</p>

<button>Submit</button>

<section>
  <button mat-button>Mat Button</button>
  <button mat-button color="primary">Mat Button 2</button>
  <button mat-button color="accent">Mat Button 3</button>
  <button mat-button color="warn">Mat Button 4</button>
</section>

<section>
  <button mat-raised-button>Mat Raised Button</button>
  <button mat-raised-button color="primary">Mat Raised Button 2</button>
  <button mat-raised-button color="accent">Mat Raised Button 3</button>
  <button mat-raised-button color="warn">Mat Raised Button 4</button>
</section>

<section>
  <button mat-fab>Mat Fab Button</button>
  <button mat-fab color="primary">Mat Fab Button 2</button>
  <button mat-fab color="accent">Mat Fab Button 3</button>
  <button mat-fab color="warn">Mat Fab Button 4</button>
</section>

<section>
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>alarm</mat-icon>
  </button>
</section>