<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Time to start workout</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="Your Exercise">
                    <mat-option value="squats">Squats</mat-option>
                    <mat-option value="situps">Sit Ups</mat-option>
                    <mat-option value="pushups">Push Ups</mat-option>
                    <mat-option value="walking">Walking</mat-option>
                    <mat-option value="jogging">Jogging</mat-option>
                    <mat-option value="running">Running</mat-option>
                    <mat-option value="burpees">Burpees</mat-option>
                </mat-select>
            </mat-form-field>            
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-raised-button color="accent" (click)="onStart()">Start</button>
        </mat-card-actions>
    </mat-card>
</section>
