<section class="new-training" fxLayout fxLayoutAlign="center">
    <form #formId="ngForm" (ngSubmit)="onStart(formId)">
        <mat-card fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Time to start workout</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field>
                    <mat-select name="selectExercise" ngModel placeholder="Your Exercise">
                        <mat-option *ngFor="let exercise of exerciseList" [value]='exercise.exerciseId'>
                            {{exercise.exerciseName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>            
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button type="submit" mat-raised-button color="accent">Start</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>
